<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title">{{ todo.title }}</h5>
      </div>
      <div class="col d-flex justify-content-end">
        <div class="btn-group" role="group">
          <button class="btn btn-primary" data-test="todo-card-view-btn" (click)="viewTodo($event)">
            View
          </button>
          <button class="btn btn-warning" data-test="todo-card-edit-btn" (click)="editTodo($event)">
            Edit
          </button>
          <button
            class="btn btn-danger"
            data-test="todo-card-delete-btn"
            (click)="deleteTodo($event)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
