<app-header>
  <ng-template #headerLeft>
    <h2>Todos</h2>
  </ng-template>
  <div class="header-right">
    <button class="btn btn-block btn-success" (click)="createTodo()">Create</button>
  </div>
</app-header>
<ul class="list-group">
  <li
    *ngFor="let todo of todos$ | async"
    class="list-group-item todo-card"
    (click)="todoClick(todo.id)"
  >
    <app-todo-card
      [todo]="todo"
      (onView)="todoClick(todo.id)"
      (onEdit)="editTodo(todo)"
    ></app-todo-card>
  </li>
</ul>
