:host {
  .title {
    text-decoration: underline;

    &.link {
      font-size: large;
      text-decoration: underline;
      color: lightblue;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
